<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="Input.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angry Bird UI</title>
</head>
<body>
    <div class="tab-container">
        <div class="tab-header-content">
            <h1 class="tab-header">Angry Birds UI</h1>
        </div>
        <nav class="tabContainer-contents">
            <a class="tab-content" href="../../index.html">Home</a>
            <a class="tab-content">Documentation</a>
            <a class="tab-content"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="tab-content"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a class="tab-content"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </nav>
    </div>
    <div class="main-container" >
    <div class="main-menu">
        <ul>
            <section class="primary-components-0">
                <li class="menu-item"> 
                    <a class="text-decoration"href="../Avatar/Avatar.html">Avatar</a>
                </li>
                <li class="menu-item"> 
                    <a class="text-decoration"href="../Alert/Alert.html">Alert</a>
                </li>    
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Badge/Badge.html">Badge</a>
                </li>
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Button/Button.html">Button</a>
                </li>    
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Cards/Cards.html">Card</a>
                </li>  
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Image/Image.html">Image</a>
                </li>  
                <li class="menu-item"> 
                    <a class="text-decoration" href="Input.html">Input</a>
                </li>  
            </section>
            <section class="primary-components-1">
                <li class="menu-item"> 
                    <a class="text-decoration" href="../text-utilities/text-utilities.html">Text Utilities</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Lists/Lists.html">Lists</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Navigation/Navigation.html">Navigation</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Modal/Modal.html">Modal</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Rating/Rating.html">Rating </a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Snackbar/Snackbar.html">Snackbar</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Simplified-grid/Simplified-grid.html">Simplified Grid</a>
                </li> 
            </section>
            <section class="primary-components-2">
                <li class="menu-item"> 
                    <a class="text-decoration" href="">Submenus</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="">Hamburger</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="">Slider</a>
                </li> 
            </section>
        </ul>
    </div>
    <div class="component-library-components-container">
        <div class="input-container">
            <h1 class="input-component-heading input-margin">Basic</h1>
            <div class="input">
                <input class="input-box basic" type="text" />
                <label class="label-input-basic basic-text">Email</label>
              </div>
              <iframe
              class="input-iframe-margin"
              src="https://carbon.now.sh/embed?bg=rgba%28230%2C57%2C70%2C1%29&t=material&wt=none&l=groovy&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%2520%253Cdiv%2520class%253D%2522input%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%253Cinput%2520class%253D%2522input-box%2520basic%2522%2520type%253D%2522text%2522%2520%252F%253E%250A%2520%2520%2520%2520%2520%2520%2520%253Clabel%2520class%253D%2522label-input-basic%2520basic-text%2522%253EEmail%253C%252Flabel%253E%250A%253C%252Fdiv%253E"
              style="width: 690px; height: 261px; border:0; transform: scale(1); overflow:hidden;"
              sandbox="allow-scripts allow-same-origin">
            </iframe>
            <h1 class="input-component-heading input-margin">Success</h1>
            <div class="input">
                <input class="input-box success" type="text" />
                <label class="label-input-success success-text">Email</label>
              </div>
              <iframe
              class="input-iframe-margin"
                src="https://carbon.now.sh/embed?bg=rgba%28230%2C57%2C70%2C1%29&t=material&wt=none&l=groovy&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%253Cdiv%2520class%253D%2522input%2522%253E%250A%2520%2520%2520%2520%2520%253Cinput%2520class%253D%2522input-box%2520success%2522%2520type%253D%2522text%2522%2520%252F%253E%250A%2520%2520%2520%2520%2520%253Clabel%2520class%253D%2522label-input-success%2520success-text%2522%253EEmail%253C%252Flabel%253E%250A%253C%252Fdiv%253E"
                style="width: 706px; height: 261px; border:0; transform: scale(1); overflow:hidden;"
                  sandbox="allow-scripts allow-same-origin">
            </iframe>
            <h1 class="input-component-heading input-margin">Warning</h1>
            <div class="input">
                <input class="input-box warning" type="date" />
                <label class="label-input-warning warning-text">D.O.B</label>
              </div>
              <iframe
              class="input-iframe-margin"
            src="https://carbon.now.sh/embed?bg=rgba%28230%2C57%2C70%2C1%29&t=material&wt=none&l=groovy&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%253Cdiv%2520class%253D%2522input%2522%253E%250A%2520%2520%2520%2520%2520%253Cinput%2520class%253D%2522input-box%2520warning%2522%2520type%253D%2522date%2522%2520%252F%253E%250A%2520%2520%2520%2520%2520%253Clabel%2520class%253D%2522label-input-warning%2520warning-text%2522%253ED.O.B%253C%252Flabel%253E%250A%253C%252Fdiv%253E"
             style="width: 706px; height: 261px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>
            <h1 class="input-component-heading input-margin">Error</h1>
            <div class="input">
                <input class="input-box error" type="text" />
                <label class="label-input-error error-text">Email</label>
              </div>
              <iframe
              class="input-iframe-margin"
                src="https://carbon.now.sh/embed?bg=rgba%28230%2C57%2C70%2C1%29&t=material&wt=none&l=groovy&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%2520%253Cdiv%2520class%253D%2522input%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Cinput%2520class%253D%2522input-box%2520error%2522%2520type%253D%2522text%2522%2520%252F%253E%250A%2520%2520%2520%2520%2520%2520%253Clabel%2520class%253D%2522label-input-error%2520error-text%2522%253EEmail%253C%252Flabel%253E%250A%2520%253C%252Fdiv%253E"
                style="width: 681px; height: 261px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
        </div>
    </div>
</body>
</html>