@import url("../Avatar/Avatar.css");

.input-container{
    position: absolute;
    margin-left: 5.875rem;
    margin-top: 6.25rem;
    margin-right: auto;
    display: block;
}

.input-component-heading{
    color: var(--primary-color);
    font-size: 3rem;
}

.input-box{
    padding: 0.5rem 2rem;
    position: relative;
    border-radius: 2rem;
    font-size: 1.2rem;
}
.input-margin{
    margin-bottom: 3rem;

}
.input-iframe-margin{
    margin-top:2rem;
}
.label-input-basic,.label-input-success{
    position:absolute;
    left:1.25rem;
    background-color: white;
}
.label-input-warning,.label-input-error{
    position:absolute;
    left: 1.25rem;
    background-color: white;
}
.label-input-error{
    top: 111.063rem;
}
.basic-text{
    padding: 0.4rem;
    color: var(--basic-text-color);
}
.basic{
    border-color: var(--basic-text-color);
}

.label-input-basic{
    top: 5.5rem;
}
.label-input-warning{
    top: 75.525rem;
}

.label-input-success{
    top: 40.438rem;
}
.success{
    border-color: var(--success-text-color);
}

.success-text{
    padding: 0.4rem;
    color: var(--success-text-color);
}
.warning-text{
    padding: 0.4rem;
    color: var(--warning-text-color);
}

.warning{
    border-color: var(--warning-text-color);
}
.error{
    border-color: var(--error-text-color);
}
.error-text{
    padding: 0.4rem;
    color: var(--error-text-color);
}
.iframe-component{
    width: 632px;
    height: 379px;
    border:0;
    transform: scale(1); 
    overflow:hidden;
}
@media screen and (max-width: 772px) {
 .input-container{
    margin-left: 3.75rem;
 }
 .iframe-component{
    width: 432px;
    height: 379px;
}
} 
@media screen and (max-width: 492px) {
.input-container{
    margin-left: 2.5rem;
 }
 .iframe-component{
    width: 262px;
    height: 679px;
}
.label-input-warning{
    top: 113.025rem;
}

.label-input-success{
    top: 59.438rem;
}
.label-input-error{
    top: 167.363rem;
}

}