<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="Button.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angry Bird UI</title>
</head>
<body>
    <div class="tab-container">
        <div class="tab-header-content">
            <h1 class="tab-header">Angry Birds UI</h1>
        </div>
        <nav class="tabContainer-contents">
            <a class="tab-content" href="../../index.html">Home</a>
            <a class="tab-content">Documentation</a>
            <a class="tab-content"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="tab-content"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a class="tab-content"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </nav>
    </div>
    <div class="main-container" >
        <div class="main-menu">
            <ul>
                <section class="primary-components-0">
                    <li class="menu-item"> 
                        <a class="text-decoration"href="../Avatar/Avatar.html">Avatar</a>
                    </li>
                    <li class="menu-item"> 
                        <a class="text-decoration"href="../Alert/Alert.html">Alert</a>
                    </li>    
                    <li class="menu-item"> 
                        <a class="text-decoration" href="../Badge/Badge.html">Badge</a>
                    </li>
                    <li class="menu-item"> 
                        <a class="text-decoration" href="Button.html">Button</a>
                    </li>    
                    <li class="menu-item"> 
                        <a class="text-decoration" href="../Cards/Cards.html">Card</a>
                    </li>  
                    <li class="menu-item"> 
                        <a class="text-decoration" href="../Image/Image.html">Image</a>
                    </li>  
                    <li class="menu-item"> 
                        <a class="text-decoration" href="../Input/Input.html">Input</a>
                    </li>  
                </section>
                <section class="primary-components-1">
                    <li class="menu-item"> 
                        <a class="text-decoration" href="../text-utilities/text-utilities.html">Text Utilities</a>
                    </li> 
                    <li class="menu-item"> 
                        <a class="text-decoration" href="../Lists/Lists.html">Lists</a>
                    </li> 
                    <li class="menu-item"> 
                        <a class="text-decoration" href="../Navigation/Navigation.html">Navigation</a>
                    </li> 
                    <li class="menu-item"> 
                        <a class="text-decoration" href="../Modal/Modal.html">Modal</a>
                    </li> 
                    <li class="menu-item"> 
                        <a class="text-decoration" href="../Rating/Rating.html">Rating </a>
                    </li> 
                    <li class="menu-item"> 
                        <a class="text-decoration" href="../Snackbar/Snackbar.html">Snackbar</a>
                    </li> 
                    <li class="menu-item"> 
                        <a class="text-decoration" href="../Simplified-grid/Simplified-grid.html">Simplified Grid</a>
                    </li> 
                </section>
                <section class="primary-components-2">
                    <li class="menu-item"> 
                        <a class="text-decoration" href="">Submenus</a>
                    </li> 
                    <li class="menu-item"> 
                        <a class="text-decoration" href="">Hamburger</a>
                    </li> 
                    <li class="menu-item"> 
                        <a class="text-decoration" href="../Slider/Slider.html">Slider</a>
                    </li> 
                </section>
            </ul>
        </div>

        <div class="component-library-components-container">
            <div class="button-conatiner">
                <h1 class="component-library-content-heading">Buttons</h1>
                <p class="component-library-content-paragraph">Buttons allow users to take actions, and make choices, with a single tap.</p>
                <h1 class="button-component-example">Example of Primary Button Styles</h1>
                <a class="button simple-button">Primary Solid</a>
                <a class="button primary-outline">Primary Outline</a>
                <a class="button button-link">Primary Text</a>
                <a class="button button-icon"><i class="fa fa-book" aria-hidden="true"></i>Icon button</a>
                <iframe
                class="iframe-button"
                src="https://carbon.now.sh/embed?bg=rgba%28230%2C57%2C70%2C1%29&t=material&wt=none&l=groovy&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%253Ca%2520class%253D%2522button%2520simple-button%2522%253EPrimary%2520Solid%253C%252Fa%253E%250A%253Ca%2520class%253D%2522button%2520primary-outline%2522%253EPrimary%2520Outline%253C%252Fa%253E%250A%253Ca%2520class%253D%2522button%2520button-link%2522%253EPrimary%2520Text%253C%252Fa%253E%250A%253Ca%2520class%253D%2522button%2520button-icon%2522%253E%253Ci%2520class%253D%2522fa%2520fa-book%2522%2520aria-hidden%253D%2522true%2522%253E%253C%252Fi%253EIcon%2520button%253C%252Fa%253E"
                style="width: 909px; height: 261px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
                <h1 class="button-component-disable-example">Example of Disabled Button</h1>
                <a  class="button-disabled">solid</a>
                <a  class="button-disabled-icon"><i class="fa fa-times" aria-hidden="true"></i>Remove</a>
                <iframe
                class="iframe-button-disabled"
                src="https://carbon.now.sh/embed?bg=rgba%28230%2C57%2C70%2C1%29&t=material&wt=none&l=groovy&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%253Ca%2520%2520class%253D%2522button-disabled%2522%253Esolid%253C%252Fa%253E%250A%253Ca%2520%2520class%253D%2522button-disabled-icon%2522%253E%253Ci%2520class%253D%2522fa%2520fa-times%2522%2520aria-hidden%253D%2522true%2522%253E%253C%252Fi%253ERemove%253C%252Fa%253E"
                style="width: 901px; height: 223px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
                <h1 class="button-size-heading">Example of Different Button Sizes</h1>
                <div class="button-size">
                <a class="button-large">Button large</a>
                <a class="button-small">Button small</a>
                </div>
            <iframe
            class="iframe-button-size"
             src="https://carbon.now.sh/embed?bg=rgba%28230%2C57%2C70%2C1%29&t=material&wt=none&l=groovy&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%253Ca%2520class%253D%2522button-large%2522%253EButton%2520large%253C%252Fa%253E%250A%253Ca%2520class%253D%2522button-small%2522%253EButton%2520small%253C%252Fa%253E"
            style="width: 487px; height: 223px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>
            <h1 class="button-floating-heading">Example of Floating action Button</h1>
            <div class="button-floating-components">
                <a  class="round button-floating"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <a  class="round button-floating"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a  class="round button-floating"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </div>
            <iframe
            class="iframe-floating-component"
            src="https://carbon.now.sh/embed?bg=rgba%28230%2C57%2C70%2C1%29&t=material&wt=none&l=groovy&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%253Ca%2520%2520class%253D%2522round%2520button-floating%2522%253E%253Ci%2520class%253D%2522fa%2520fa-plus%2522%2520aria-hidden%253D%2522true%2522%253E%253C%252Fi%253E%253C%252Fa%253E%250A%253Ca%2520%2520class%253D%2522round%2520button-floating%2522%253E%253Ci%2520class%253D%2522fa%2520fa-pencil%2522%2520aria-hidden%253D%2522true%2522%253E%253C%252Fi%253E%253C%252Fa%253E%250A%253Ca%2520%2520class%253D%2522round%2520button-floating%2522%253E%253Ci%2520class%253D%2522fa%2520fa-trash-o%2522%2520aria-hidden%253D%2522true%2522%253E%253C%252Fi%253E%253C%252Fa%253E"
            style="width: 875px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>
            </div>
        </div>
        </div>
</body>
</html>