:root {
    --primary-color: #9B2226;
    --secondary-color: #FFB3C1;
    --white: white;
    --alert-primary-bg: #7FD2E6;
    --alert-primary-color: #29438b;
    --alert-secondary-bg: #eaeaec;
    --alert-secondary-color: #696b79;
    --alert-sucess-bg: #84f1c9;
    --alert-sucess-color: #1b7052;
    --alert-danger-bg: #dc3545;
    --alert-danger-color: #fcc5c5;
    --alert-warning-bg: #ff9204;
    --alert-warning-color: #ffe7c5;
    --alert-dark-color: rgb(47, 47, 47);
    --badge-oval-color: #2A9D8F;
    --status-badge-away: #FFB703;
    --status-badge-online: #90BE6D;
    --status-badge-offline: #dc3545;
    --button-disabled-icon-color: #CAD5E2;
    --card-bottom-radius:  #758283;
    --card-primary-color: #223843;
    --card-primary-button: #375B6D;
    --card-dismiss-color: #C37D92;
    --basic-text-color: #023E8A;
    --success-text-color: #90BE6D;
    --warning-text-color: #F9C74F;
    --error-text-color: #DB222A;
    --text-utility-gray: #808080;
    --text-utility-color: #370617;
    --nav-color: #660708;
    --black: black;
    --close-button-color: #aaa;
}