<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="hamburger.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angry Bird UI</title>
</head>
<body>
    <div class="tab-container">
        <div class="tab-header-content">
            <h1 class="tab-header">Angry Birds UI</h1>
        </div>
        <nav class="tabContainer-contents">
            <a class="tab-content" href="../../index.html">Home</a>
            <a class="tab-content" href="../../installation/installation.html">Installation</a>
            <a class="tab-content"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="tab-content"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a class="tab-content"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </nav>
    </div>
    <a class="hamburger" onclick="hamburgerMainMenu()">
        <i class="fa main-menu-hamburger fa-bars"></i>
      </a>
    <div class="main-container" >

    <div class="main-menu">
        <ul>
            <section class="primary-components-0">

                <li class="menu-item"> 
                    <a class="text-decoration"href="../Avatar/Avatar.html">Avatar</a>
                </li>
                <li class="menu-item"> 
                    <a class="text-decoration"href="../Alert/Alert.html">Alert</a>
                </li>    
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Badge/Badge.html">Badge</a>
                </li>
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Button/Button.html">Button</a>
                </li>    
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Cards/Cards.html">Card</a>
                </li>  
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Image/Image.html">Image</a>
                </li>  
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Input/Input.html">Input</a>
                </li>  
            </section>
            <section class="primary-components-1">
                <li class="menu-item"> 
                    <a class="text-decoration" href="../text-utilities/text-utilities.html">Text Utilities</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Lists/Lists.html">Lists</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Navigation/Navigation.html">Navigation</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Modal/Modal.html">Modal</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Rating/Rating.html">Rating </a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Snackbar/Snackbar.html">Snackbar</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Simplified-grid/Simplified-grid.html">Simplified Grid</a>
                </li> 
            </section>
            <section class="primary-components-2">
                <li class="menu-item"> 
                    <a class="text-decoration" href="">Submenus</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="hamburger.html">Hamburger</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Slider/Slider.html">Slider</a>
                </li> 
            </section>
        </ul>
    </div>
    <div class="navigation-container">
        <div class="nav-header-content">
            <h1 class="nav-header">Hamburger</h1>
        </div>
    <div class="hamburger-nav">
        <div class="hamburger-link">
            <a class="tab-content a-tag" href="">Home</a>
            <a class="tab-content a-tag" href="">Installation</a>
            <a class="tab-content a-tag"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="tab-content a-tag"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a class="tab-content a-tag"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <a onclick="hamburgerComponent()">
          <i class="fa fa-bars"></i>
        </a>
        </div>
        <script src="hamburger.js"></script>
</body>
</html>