@import url("../Avatar/Avatar.css");

.text-utilities-container{
    position: absolute;
    margin-left: 20.875rem;
    margin-top: 6.25rem;
    margin-right: auto;
    display: flex;
    flex-flow: column wrap;
}
.main-menu{
    height: 2400px;
}
.text-heading-element{
    color: var(--primary-color);
    font-size: 3rem;
}
.text-margin{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.text-header-components{
    margin-top:1rem;
    color: var(--text-utility-color);
}
.text-size-5xl {
    font-size: 3rem;
    line-height: 3rem;
}
.text-size-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-size-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
 }
 .text-size-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-size-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-size-small {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-gray {
    color: var(--text-utility-gray);
}
.text-center {
    text-align: center;
}
.iframe-component{
    width: 632px;
    height: 379px;
    border:0;
    transform: scale(1); 
    overflow:hidden;
}
@media screen and (max-width: 772px) {
    .text-utilities-container{
       margin-left: 3.75rem;
    }
    .iframe-component{
       width: 432px;
       height: 379px;
    }
    .text-margin{
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

} 
@media screen and (max-width: 492px) {
   .text-utilities-container{
       margin-left: 2.5rem;
    }
    .iframe-component{
       width: 252px;
       height: 679px;
}

}