<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="Snackbar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angry Bird UI</title>
</head>
<body>
    <div class="tab-container">
        <div class="tab-header-content">
            <h1 class="tab-header">Angry Birds UI</h1>
        </div>
        <nav class="tabContainer-contents">
            <a class="tab-content" href="../../index.html">Home</a>
            <a class="tab-content">Documentation</a>
            <a class="tab-content"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="tab-content"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a class="tab-content"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </nav>
    </div>
    <div class="main-container" >
    <div class="main-menu">
        <ul>
            <section class="primary-components-0">
                <li class="menu-item"> 
                    <a class="text-decoration"href="Avatar.html">Avatar</a>
                </li>
                <li class="menu-item"> 
                    <a class="text-decoration"href="../Alert/Alert.html">Alert</a>
                </li>    
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Badge/Badge.html">Badge</a>
                </li>
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Button/Button.html">Button</a>
                </li>    
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Cards/Cards.html">Card</a>
                </li>  
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Image/Image.html">Image</a>
                </li>  
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Input/Input.html">Input</a>
                </li>  
            </section>
            <section class="primary-components-1">
                <li class="menu-item"> 
                    <a class="text-decoration" href="../text-utilities/text-utilities.html">Text Utilities</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Lists/Lists.html">Lists</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Navigation/Navigation.html">Navigation</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Modal/Modal.html">Modal</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Rating/Rating.html">Rating </a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="Snackbar.html">Snackbar</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Simplified-grid/Simplified-grid.html">Simplified Grid</a>
                </li> 
            </section>
            <section class="primary-components-2">
                <li class="menu-item"> 
                    <a class="text-decoration" href="">Submenus</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="">Hamburger</a>
                </li> 
                <li class="menu-item"> 
                    <a class="text-decoration" href="../Slider/Slider.html">Slider</a>
                </li> 
            </section>
        </ul>
    </div>
    <div class="snackbar-container">
        <h1 class="snackbar-component-heading">Snackbar</h1>
        <h1 class="snackbar"></h1>
        <button class="btn snackbar-button" onclick="showMessage('The Snackbar message is here')">Press here to show Snackbar message</button>
        <iframe
        class="iframe-margin iframe-component"
        src="https://carbon.now.sh/embed?bg=rgba%28230%2C57%2C70%2C1%29&t=material&wt=none&l=groovy&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%253Cdiv%2520class%253D%2522snackbar-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ch1%2520class%253D%2522snackbar-component-heading%2522%253ESnackbar%253C%252Fh1%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ch1%2520class%253D%2522snackbar%2522%253E%253C%252Fh1%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn%2520snackbar-button%2522%2520onclick%253D%2522showMessage%28%27The%2520Snackbar%2520message%2520is%2520here%27%29%2522%253EPress%2520here%2520to%2520show%2520Snackbar%2520message%253C%252Fbutton%253E%250A%253C%252Fdiv%253E"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </div>
        
    <script src="Snackbar.js"></script>
</body>
</html>