@import url("../Avatar/Avatar.css");

.snackbar-container{
    position: absolute;
    margin-left: 20.875rem;
    margin-top: 6.25rem;
    margin-right: auto;
    display: block;
}
.snackbar-component-heading{
    color: var(--primary-color);
    font-size: 3rem;
    margin-bottom: 1.875rem;
}
.main-menu{
    height: 100%;
}
.iframe-margin{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.snackbar {
    background-color: var(--alert-dark-color);
    color: var(--white);
    display: absolute;
    padding: 0.625rem;
    position:fixed;
    bottom: 1.25rem;
    left: 32.5rem;
    width: 43.75rem;
    font-size: 1.25rem;
    text-align: center;
}
.snackbar.show{
    transform: translateY(12.5rem);
    transition: all 100ms;
}
.snackbar-button{
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.5rem;
}
.snackbar-component-heading{
    color: var(--primary-color);
    font-size: 3rem;
    margin-bottom: 1.875rem;
}